/** @format */

.Input-container {
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
}

input {
	width: 100%;
	font-size: xx-large;
}

button {
	font-size: xx-large;
	margin-top: 5%;
	align-content: center;
	padding-left: 10%;
	padding-right: 10%;
}
.Todo-list-container {
	border: 2px dashed;
	font-size: xx-large;
	width: 100%;
	margin-top: 8%;
	margin-left: 5%;
}

.Todo-list-element {
	display: flex;
	flex-direction: column;
}
